* {
  box-sizing: border-box;
}
.box {
 background-color: aqua;
}

table, td {
  border-collapse: collapse;
  border: 1px solid black;
}

section {
  width: 100%;
  border: 2px solid #000000;
  overflow: hidden;
}

.titles {
  float: left;
  width: 50%;
  border: 2px solid magenta;
}
